# Initialized files
*.basic
*.vbw
*.cfg
.DS_Store
*.vbw
*.csi
*.OBJ
*.log
*.LOG
*.bot
BAO_WorldEditor/ImagenesMundoBAO/Mapa1.bmp
BAO_WorldEditor/ImagenesMundoBAO/Mapa2.bmp
BAO_WorldEditor/ImagenesMundoBAO/Mapa3.bmp
